<div class="content">
<div class="header">
  <h1>Time Interval Data</h1>
  <mat-form-field appearance="fill">
    <mat-label>Select Time interval</mat-label>
    <mat-select (valueChange)="generateColumn($event)" (select)="'60'" name="interval">
      <mat-option *ngFor="let interval of intervals" [value]="interval.value">
        {{interval.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>


<mat-sidenav-container fxFlex="0 1 auto">

  <mat-sidenav #sidenav position="start" mode="side" opened="false" class="width-30 p-6">
    SIDENAV CONTENT HERE
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="mat-elevation-z8 m-12">
      <div class="table-container">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container class="table" *ngFor="let column of rangeColumns; let colIndex = index" matColumnDef="{{column}}">
            <th class="table-column-100 column-header" mat-header-cell *matHeaderCellDef> {{column}}</th>
            <td class="table-column-100" [ngClass]="column" mat-cell *matCellDef="let element"> {{element[column]}} </td>
          </ng-container>

          <tr class="row-header" mat-header-row *matHeaderRowDef="rangeColumns; sticky: true" ></tr>
          <tr mat-row *matRowDef="let row; columns: rangeColumns;"></tr>
        </table>
        <div>
        </div>
      </div>

    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
</div>
